@tailwind base;
@tailwind components;
@tailwind utilities;

.patients-list::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* The scrollbar track */
.patients-list::-webkit-scrollbar-track {
  background: #dedcdc;
  border-radius: 8px;
}

/* The scrollbar thumb */
.patients-list::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 8px;
  border: none;
  min-height: 4px;
}

/* Hover effect for the scrollbar thumb */
.patients-list::-webkit-scrollbar-thumb:hover {
  background: #333333; /* Darker shade of black or custom color */
}

/* Firefox support */
.patients-list {
  scrollbar-width: thin;
  scrollbar-color: #000000 #dedcdc;
}
